<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="TranzactChallenge.Application.Services.State.StateService">
                <endpoint address="" binding="basicHttpBinding" contract="TranzactChallenge.Application.Services.State.IStateService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/TranzactChallenge.Application.Services.State/StateService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="TranzactChallenge.Application.Services.Period.PeriodService">
                <endpoint address="" binding="basicHttpBinding" contract="TranzactChallenge.Application.Services.Period.IPeriodService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/TranzactChallenge.Application.Services.Period/PeriodService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="TranzactChallenge.Application.Services.Plan.PlanService">
                <endpoint address="" binding="basicHttpBinding" contract="TranzactChallenge.Application.Services.Plan.IPlanService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/TranzactChallenge.Application.Services.Plan/PlanService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
